*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.logo-Dropbox{
    height: 1.5rem;
}
header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

}

.top-items{
    display: flex;
    align-items: center;
    padding: 1.2rem;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
li{
    padding: 0 2rem 0 2rem;
}
.Button-t1{
    background-color: #0061ff;
    color: white;
    border: 0; 
    padding: 0.5rem 1.5rem;
}
.padding-intra{
    padding-bottom: 1.5rem;
}
.padding-top{
    padding-top: 1.5rem;
}
.sub-header{
    display: flex;
    align-items: center;
    background-color: #b4d0e7;
    padding-top: 5rem;
    flex-direction: column;
}
.Jumbone{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin-left: auto;
    margin-right: auto; 
}
.titolone{
    padding-left: 3rem;
    display: flex;
    font-size: 70px;
    align-items: center;
    justify-content: center;

}
.titolo-2{
    font-size: 37px;
}
label{
    padding-right: 2rem;
}

.Sub-Jumbone{
    display: flex;
    align-items: flex-start;
    width: 90%;
}
.Colon-Sub-Jumbone{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    padding-top: 3rem;
    width: 24rem;
}
.img-jumbo{
    width: auto;
    height: 25rem;
    position: relative; 
    top: 3rem;
}
.padding-60{
    width: 61%;
    margin-left: auto;
    margin-right: auto;
}
main{
    padding-top: 10rem;
    display: flex;
    align-items: start;
    flex-direction: column;
}
.padding-sec{
    padding-top: 10rem;
}
.card-row{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.card{
    display: flex;
    flex-direction: column;
    width: 18rem;
    height: auto;
    border: 2px solid #e4e4e5;
}
.card-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    border-bottom: 1px solid #e4e4e5;
}
.card-li{
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}
.bottone-in-card{
    width: 13rem;
}
.section-button{
    padding: 3rem 2rem 2rem;
}
.acquista-ora{
    padding-left: 2rem;
    padding-bottom: 3rem;
}
.last-card{
    width: 100%;
    height: 20rem;
    background-color: white;
    margin-top: 3rem;
    border: 2px solid #e4e4e5;
}

.last-card-contain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.opz-partner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.desc-partner{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 2rem;
}
.logo-partner{
    width: 280%;
    height: auto;
}

.container-business{
    display: flex;
    flex-direction: row;
    align-items: start;
}

.card-business{
    width: 10%;
    display: flex;
    flex-direction: column;
    padding-right:3rem;
}
.banners{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.partner-banner{
    display: flex;
    flex-direction: column;
}
.quadrati{
    display: flex;
    width: 15rem;
    height: 15rem;
    align-items: center;
    justify-content: center;
    
}
.img-box{
   width: 60%;
   height: auto;
   
}

.verde{
    background-color: #d1e9cd;
}
.verde-dentro-verde{
    display: flex;
    width: 14rem;
    height: 14rem;
    align-items: center;
    justify-content: center;
    background-color: #a2d39b;
}

.img-inside-box{
    width: 70%;
    height: auto; 
}

.azzurro{
    background-color: #0093ce;
}


.bordeaux{
    background-color: #61082b;
}

.rosso-light{
    background-color: #ff1c1c;
}
.middle{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    flex-grow: 1;
}
.padding-p{
    padding: 2rem 3rem;
}
.img-middle{
    width: 15rem;
    height: auto;
    padding: 2rem 0rem 0rem 3rem;
}
.red{
    background-color: #d5001f;
}
.blue{
    background-color: #0d2481;
}
.light-blue{
    background-color: #b4d0e7;
}
.yellow{
    background-color: #ffd830;
}

.banner-link{
    background-color: #b4d0e7;
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.padding-1rem-top{
    padding-top: 1rem;
}
.padding-5rem-top{
    padding-top: 5rem;
}
.fa-solid{
    padding-right: .25rem;
}
.button-card-centered{
    height: 3rem;
    width: 15rem;
}
.padding-button{
    padding: 2rem;
}

.Button-t2{
    padding: .5rem .75rem;
    border-radius: 0%;
    border: 1px solid black;
    background-color: white;
}
.banner-viola{
    width: 61%;
    height: 20rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.button-bottom{
    width: 20rem;
    height: 3rem;
    border: none;
    border-radius: 0%;

}
.scritta{
    width: 28rem;
    color: #60072a;
}

.container-button-bottom{
    height: 6rem;
    display: flex;
    align-items: start;
    justify-content: center;
}

.domande-frequenti{
    width: 61%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
}

.section-domande{
    border-bottom: 1px solid black;
    padding: 2rem 2rem 2rem 0rem;
}
.top-domande{
    padding-bottom: 3rem;
}
.flex-domande{
    display: flex;
    align-items: start;
    justify-content: space-between;
}
footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: white;
    width: 100%;
    height: 35rem;
}
.dimensioni{
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
}
.footer-ul{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.column-ul{
    display: flex;
    flex-direction: column;
}

.li-padding-h3{
    padding-bottom: 2rem;
}
.li-padding{
    padding-bottom: 1rem;
}

.lingua{
    width: 8rem;
    border-top: 1px solid white;
   
}
.lingua-e-linea{
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem
}
  